<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root"></div>
    <!-- hello world -->
    <script type="text/javascript">
        const webSocket = new WebSocket('ws://localhost:3000')
        // let i = 0
        webSocket.onmessage = (message) => {
            // console.log(i)
            // console.log(message.data)
            // i++
        
            const data = JSON.parse(message.data)
            if (data.type === 'message') { 
                document.querySelector('#root').innerHTML = data.payload
            } else if (data.type === 'add') {
                console.log(data.payload)
            }
        }
        
    </script>
</body>
</html>