doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Simple Website
    body 
        include ./5header.pug
        h1 this is main contents 
        include ./5foot.pug
         