<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    글 수정
    <form action="/board/update?idx={{item.idx}}" method="post">
        <ul>
            <li>
                <label for="subject">제목</label>
                <input type="text" name="subject" value="{{item.subject}}">
            </li>
            <li>
                <label for="name">작성자</label>
                <input type="text" name="name" id="name" value="{{item.name}}">
            </li>
            <li>
                <label for="content">내용</label>
                <textarea name="content" id="content">{{item.content}}</textarea>
            </li>
        </ul>
        <input type="submit" value="글 수정">
    </form>
    <a href="/board/list">목록</a>
</body>
</html>