<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- <script type="module" defer>
        // import { io } from 'https://cdn.socket.io/4.3.2/socket.io.esm.min.js';
    </script> -->

    <ul id="rooms">
        <li id="room1" class="room1">방1</li>
        <li id="room2" class="room2">방2</li>
    </ul>

    <form action="" id="chat_frm">
        <ul>
            <li>
                <input type="text" id="chat_author" placeholder="아이디">
                <input type="text" id="chat_input" placeholder="내용">
                <input type="submit" value="전송">
            </li>
        </ul>
    </form>
    <div style="float: left;">
        <div id="chatting">

        </div>
        <div id="chatting2">

        </div>
    </div>


    <script type="text/javascript">


        const rooms = document.querySelector('#rooms')
        const chat_frm = document.querySelector('#chat_frm')

        let { value: current_room } = rooms.querySelectorAll('li')[0].classList

        let socket;
        socket = io.connect(`http://localhost:3000/chat`, {
            transports: ['websocket']
        })

        const getMessage = () => {
            socket.on('send', msg => {
                const { c_id, author, data } = msg
                // const liElement = document.querySelector('li')
                // liElement.innerHTML = `
                //     <span>
                //         ${author} ${data}
                //     </span>
                // `
                // chat_frm.firstChild.prepend(liElement)
            })
        }

        const init = () => {
            socket.emit('joinRoom', current_room)
            getMessage()
        }

        const clickHandler = e => {
            const { value: room_name } = e.target.classList

            socket.emit('leaveRoom', current_room)
            socket.emit('joinRoom', room_name)
            
            if (room_name == 'room1') {
                document.getElementById("chatting2").style.display = 'none';
                document.getElementById("chatting").style.display = '';
            }
            if (room_name == 'room2') {
                document.getElementById("chatting2").style.display = '';
                document.getElementById("chatting").style.display = 'none';
            }

            location.hash = room_name
            current_room = room_name
        }

        function addElement(msg) {
            // create a new div element
            const newDiv = document.createElement("div");

            // and give it some content
            const newContent = document.createTextNode(`${msg.author}: ${msg.data}`);

            // add the text node to the newly created div
            newDiv.appendChild(newContent);
            console.log(msg.c_id)
            let chatting_room;
            // add the newly created element and its content into the DOM
            if (msg.c_id == 'room1') {
                chatting_room = document.querySelector('#chatting')
            } else if (msg.c_id == 'room2') {
                chatting_room = document.querySelector('#chatting2')
            }
            // const chatting_room = document.querySelector('#chatting')
            const currentDiv = chatting_room;
            currentDiv.append(newDiv);
            // document.body.insertBefore(newDiv, currentDiv);
        }

        const submithandler = e => {
            e.preventDefault()

            const {
                chat_input: { value: input_value },
                chat_author: { value: userid }
            } = e.target

            const msg = {
                author: userid,
                data: input_value,
                c_id: current_room
            }

            socket.emit('message', msg)
            addElement(msg);
        }

        init()
        chat_frm.addEventListener('submit', submithandler)
        rooms.addEventListener('click', clickHandler)

    </script>


</body>

</html>