<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATTING</title>
    <script src="chat.js"></script>
</head>
<body>
    <div>
        chatting 창 디자인하기
    </div>
    <!-- <div>{{name}}</div> -->
    <div>{{myMessage}}</div>
    <div>{{yourMessage}}</div>
    <form action="/blocks" method="get">
        <button type="submit"></button>
    </form>
</body>
</html>